<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sayweee.oauth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".iml.WebOAuthActivity"
            android:theme="@style/OAuthTheme" />

    </application>

</manifest>